
.mat-header-row {
  font-weight: bold;
  
}
table {
    width: fit-content;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-row {
    min-width: 100%;
   
}
.vertical-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate( -50%);
  transform: translate(-50%);
}
.newWorksheet{
  padding: 20 px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate( -50%);
  transform: translate(-50%);
}