
<div class="vertical-center">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- Id Column -->
  <ng-container matColumnDef="TaskSheetId" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> TaskSheetId </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.TaskSheetId}} </mat-cell>
  </ng-container>

  <!-- Question Column -->
  <ng-container matColumnDef="TaskSheetName">
    <mat-header-cell *matHeaderCellDef><h5> Arbeitsblatt beschreibung</h5> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.TaskSheetName}} </mat-cell>
  </ng-container>

  <!-- Rightanswer Column -->
  <ng-container matColumnDef="SubjectName">
    <mat-header-cell *matHeaderCellDef><h5> Fach </h5> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.SubjectName}} </mat-cell>
  </ng-container>

  <!-- Symbol Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button matTooltip="Bearbeiten"color="primary"  (click)="NavigateToQuestions(row.TaskSheetId)" ><mat-icon>edit</mat-icon></button>
      <button mat-button matTooltip="Löschen"color="warn" (click)="ondisable(row.TaskSheetId)">	<mat-icon>delete_forever</mat-icon></button>
      <button mat-button matTooltip="CSV export" color="accent" (click)="ondisable(row)">	<mat-icon>save_alt</mat-icon></button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table >

<button mat-raised-button color="primary" class="newWorksheet" (click)="OpenWorkSheetForm()">	<mat-icon>add_to_photos</mat-icon> Neues Arbeitsblatt</button>
</div>
